/*GLOBAL*/
section > div, section > header{
    margin: 0 auto;
    width: 60%;
    max-width: 1080px;
}

/*HEADER*/

.h-menu{
    display: none;
}

section.header{
    background-color: white;
}

header{
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
}

header .logo{
    font-size: 16px;
    font-weight: 500;
}

header .logo span{
    color: #107BDF;
}

header nav{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 50px;
    font-size: 14px;
}

header nav span.nav-close-btn{
    display: none;
}

header nav ul{
    display: flex;
    text-wrap: nowrap;
}

header nav ul li a{
    text-transform: capitalize;
    padding: 0 10px;
}

header nav ul li a:hover{
    font-weight: 500;
}

.btn-premium{
    background-color: white;
    color: #107BDF;
    border:1px solid #107BDF;
    font-weight: 500;
}
.btn-premium:hover{
    background-color:#107BDF;
    color: white;
    font-weight: 700;
}

/*HERO*/

div.hero{
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
}

div.hero .hero-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 440px;
}

.hero-text .hero-text1{
    text-transform: uppercase;
    color: #CDCDD6;
    letter-spacing: 8px;
    font-size: 13px;
    font-weight: 500;
}

.hero-text h1{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}

.hero-btn{
    padding: 10px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
}

.hero-btn .btn{
    background-color: #107BDF;
    font-weight: 500;
    padding: 7.5px 45px;
    margin-right: 50px;
}

.hero-btn .wav{
    position: relative;
    padding-left: 30px;
    text-decoration: underline;
}

.hero-btn .wav::before{
    content:'';
    background-image: url('./../images/watch.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    height: 25px;
    width: 25px;
    top:0;
    left: 0;
    position: absolute;
}

div.hero > img{
    width: 250px;
}


/*FEATURE*/
section.feature-section{
    background-color: #1D2127;
    color:white;
    padding:50px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.feature ul li{
    position: relative;
    line-height: 20px;
    padding: 10px 0;
}

.feature ul li::before{
    content:'';
    background-image: url('./../images/bullet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    position:absolute;
    height: 20px;
    width: 20px;
    left: -30px;
}

/*TESTIMONIAL*/
/*CONTACT*/


@media only screen and (max-width: 760px) {

/*HEADER*/


section.header header{
    display: flex;
    justify-content: space-between;
    width: 95%;
}

header img.h-menu{
    display: block;
        cursor: pointer;
    }

    header nav{
        background-color: #1D2127;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        display:block;
        transform:translateX(100%);
        width:40%;
        padding: 20px 20px;
        transition: transform ease-in-out .5s;
    }

    header nav span.nav-close-btn{
        display:block;
        color: white;
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 500;
        cursor: pointer;
    }
    header nav ul{
        display: block;
        width: 100%;
        padding-left: 20px;
    }
    header nav ul li{
        height: 40px;
    }
    header nav ul li a:not(.btn-premium){
        display: block;
        height: 100%;
        color: white;
    }
    header nav ul li a:not(.btn-premium):hover{
        font-weight: 700;
        font-size: 14px;
    }
    
    .open{
     display: block;  
     width: 40%; 
     transform:translateX(0%);
    }
    
    
    
    
    /*HERO*/
    /*FEATURE*/
/*TESTIMONIAL*/
/*CONTACT*/
}








/*HEADER*/
/*HERO*/
/*FEATURE*/
/*TESTIMONIAL*/
/*CONTACT*/